body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: center; /* Центриране на цялото съдържание хоризонтално */
}

.lang {
    display: none;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    text-align: left; /* Текстът вътре е подравнен наляв */
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.lang p {
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 600px;
    margin: 0 auto;
}
